
#!/usr/bin/env bash
# We're using direnv: https://direnv.net/
# docs are here: https://direnv.net/man/direnv-stdlib.1.html

# Check out .envrc.private.template to get started
# Use it to start your own .envrc.private, which isn't tracked by version control

source_env_if_exists .envrc.private